html * {
	font-family:var(--font);
	transition: background-color 0.1s, border-color 0.1s, color 0.1s;
  scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
}

div{
	cursor:default;
	-webkit-user-select:none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body{
	background-color: var(--background-primary-home);
	margin:0;
}
html{
	height:100%;
	width:100%;
}

header, main, footer, p {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}






img{
	pointer-events:none;
}

.margin60px{
	margin:60px
}


.gradienttextpink{
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(to bottom, #e03192, #e0316e);
}
.gradienttextblue{
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(to right, #37d4e6, #37bae6);
}
.gradienttextblue2{
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(to bottom, #37bae6, #3797e6);
}
.gradienttextblue3{
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(to right, #3797e6, #428bff);
}
.gradienttextblue4{
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(to bottom, #37d4e6, #3797e6);
}
.gradienttextred{
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(to bottom, #ff960d, #ff4d00);
}

.buttonlogo{
	height:32px;
	width:32px;
}
.navbar{
	align-items:center;
	display:flex;
	flex-direction: row;
	backdrop-filter:blur(30px);
	-webkit-backdrop-filter: blur(30px);
	position:fixed;
	top:0;
	z-index:99;
	box-sizing:border-box;
	width:100%;
	background-color:transparent;
}
.navbar.scrolled{
	background-color:var(--background-secondary-transparent);
	border-bottom:1px solid var(--text-tertiary)
}


.navbarspace{
	max-width:60px;
	width:100%;
	flex-basis:auto;
}

@media only screen and (max-width: 600px) {
	.navbarspace{
		max-width:24px;
		width:100%;
		flex-basis:auto;
	}
}


.menubackground{
	background-color:var(--background-secondary-transparent);
}

.buttonlogo{
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:6px;
	white-space: nowrap;
	color:var(--text-primary);
	text-decoration:none;
	transition:none;

}
.rotate270{
	transform: rotate(270deg);
}


.buttonlarge {
	height:18px;
	width:auto;
	stroke: var(--text-primary);
	fill: none;
	display: block;
}


.buttonwhite {
	height:18px;
	width:auto;
	stroke: var(--white);
	fill: none;
	display: block;
}
.buttoninlinebluegradient{
	height:36px;
	width:auto;
	stroke: #3797e6;
	fill: none;
	display:inline;
	vertical-align:middle;
	pointer-events:none;
}
.buttoninline{
	height:18px;
	width:auto;
	stroke: var(--text-primary);
	fill: none;
	display:inline;
	vertical-align:middle;
	pointer-events:none;
}

.buttonwhite{
	height:18px;
	width:auto;
	stroke: var(--white);
	fill: none;
	display:block;
	pointer-events:none;
}
.navtitle{
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:6px;
	white-space: nowrap;
	color:var(--text-primary);
	text-decoration:none;
	transition:none;
}



.buttonblue{
	stroke:var(--blue) !important;
}
.demobutton:hover div{
	color:var(--blue-hover) !important
}
.demobutton:hover svg{
	stroke:var(--blue-hover) !important
}
.demobutton{
	left:60%;
	top:0;
}



.infotopright {
	transition: background-color 0.1s, color 0.1s, border-color 0.1s;
	color: var(--text-primary);
	font-size: 14px;
	padding: 8px;
	border-radius: 8px;
}

.infotopright:hover {
	background-color: var(--background-tint-1);
}

.infotopright:active {
	background-color: var(--background-tint-2);
}


.navbuttonblue{
	white-space:nowrap;
	cursor:pointer;
	border-radius:1000px;
	padding-left:16px;
	padding-right:16px;
	padding-top:8px;
	padding-bottom:8px;
	height:fit-content;
	text-decoration:none;
	font-size:16px;
	color:var(--white);
	background-color:var(--blue);
}
.navbuttonblue:hover{
	background-color:var(--blue-hover);
}

.navbutton{
	white-space:nowrap;
	padding-left:16px;
	padding-right:16px;
	padding-top:8px;
	padding-bottom:8px;
	height:fit-content;
	text-decoration:none;
	font-size:16px;
	color:var(--text-primary);
	border-radius:8px;
}
.navbutton:hover{
	background-color:var(--background-tint-2)
}


.fadeslidebefore{
	opacity:0;
	transform:translateY(50px);
	transition: opacity 1s, transform 0.5s;
}
.fadeslidebeforeslow{
	opacity:0;
	transform:translateY(100px);
	transition: opacity 4s, transform 2s;
}
.fadeslideafter{
	opacity:1;
	transform:translateY(0);
}

.logoinline{
	display:inline;
	height:1em;
	width:1em;
	vertical-align:middle;
	stroke:var(--text-primary);
}

@keyframes slideupdown{
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0)
  }
}
.learnmorebutton{
	transition: transform 0.2s;
	animation: slideupdown 2s ease-in-out infinite;
}


.menu{
	transition: max-height 0.2s;
}
.hiddenheight{
	max-height:0 !important;
}

.fadetransition {
	transition: background-color 0.5s, color 0.5s, border-color 0.5s, opacity 0.2s, visibility 0.2s;
}

.fadetransitionslow {
	transition: background-color 1s, color 1s, border-color 1s, opacity 1s, visibility 1s;
}


.homebackground{
	background-color:var(--background-primary-home)
}


.hiddenfade {
	transition: background-color 0.5s, color 0.5s, border-color 0.5s, opacity 0.2s, visibility 0.2s, left 0s 0.2s, top 0s 0.2s;
	opacity: 0;
	visibility: hidden;
	left: -99999px !important;
	top: -99999px !important;
}


.hiddenfadeslow {
	transition: background-color 1s, color 1s, border-color 1s, opacity 1s, visibility 1s, left 0s 1s, top 0s 1s;
	opacity: 0;
	visibility: hidden;
	left: -99999px !important;
	top: -99999px !important;
}

.hiddenfadeslownavbar {
	transition: background-color 1s, color 1s, border-color 1s, opacity 1s, visibility 1s, left 0s 1s, top 0s 1s;
	opacity: 0;
	visibility: hidden;
}