:root {
    --font: "Wix Madefor Text", "Avenir Next", "Helvetica", "Arial", "sans-serif";

    --background-primary: #efeef6;
    --background-secondary: #ffffff;
    --background-tertiary: #cdcdcd;

    --text-primary: #000000;
    --text-secondary: #777777;
    --text-tertiary: #bababa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: #111014;
        --background-secondary: #1f1f24;
        --background-tertiary: #2e2d37;

        --text-primary: #f1f1f1;
        --text-secondary: #a9a9a9;
        --text-tertiary: #646464;
    }
}

* {
	transition: all 0.15s;
	font-family: var(--font);
    color: var(--text-primary);
    box-sizing:border-box;
}


div {
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}

html {
	background-color: var(--background-primary);
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	overflow: hidden;
}



.bluetext{
	color: #3075ff !important;
}


/* SPECIFIC CLASSES */

.cardset{
    width: 250px;
    height: 150px;
    padding: 12px;
    background-color: var(--background-secondary);
    border-radius: 16px;
    cursor:pointer;
    word-break: break-word;
    word-wrap:break-word;
}
.cardset:hover{
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.05)
}

.cardset{
    outline: 2px solid transparent;
}
.cardset.hoverblueline:hover{
    outline: 2px solid #3075ff;
}

.centerminitext{
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    font-size:10px;
    color:#47af72;
}

.cardsetinside{
    opacity:0;
}
.cardset:hover .cardsetinside{
    opacity:1 !important;
}

.cardsetbreak{
    width:100%;
    box-sizing: border-box;
    flex-shrink:0;
    position:relative;
    height:50px;
}
.cardsetbreak::before{
    content:"";
    position:absolute;
    top:50%;
    height:1px;
    background-color:var(--background-secondary);
    right:0;
    left:0;
    z-index:-1;
}

.cardsetbreakdrag{
    width: 250px;
    height: 150px;
}


.cardsetnewlineindicator{
    border: 1px solid #3075ff;
    border-radius:16px;
}


.hidden{
    visibility:hidden;
    opacity:0;
    pointer-events:none;
}

.cardgroup{
    box-shadow: rgba(13, 10, 99, 0.05) 0px 0px 100px 60px, inset rgba(13, 10, 99, 0.05) 0px 0px 100px 60px;
    width: 350px;
    height: 450px;
    border-radius:1000px;
}

.card{
    background-color: var(--background-secondary);
    border-radius: 16px;
    box-shadow: rgba(13, 10, 99, 0.05) 0px 7px 50px, rgba(58, 58, 153, 0.10) 0px 2px 3px 0.7px;
    top:0;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
    transition-timing-function: ease-in;
    width: 350px;
    height: 450px;
}

.backcard{
    transform:scale(0.9);
    margin-top: 10%;
}
.middlecard{
    transform:scale(0.95);
    margin-top: 5%;
}
.frontcard{
    transform:scale(1);
}

.shiftcard{
    top:40px;
}


.cardseparator{
    height:1.3px;
    background-color: rgba(107, 107, 138, 0.07);
}

.cardanswercover{
    background-color: var(--background-secondary);
    cursor:pointer;
}

@media (prefers-color-scheme: dark) {
    .card{
        box-shadow: rgba(13, 10, 99, 0.05) 0px 7px 50px, rgba(2, 2, 6, 0.2) 0px 2px 3px 0.7px;
    }
    .cardseparator{
        background-color: rgba(140, 138, 190, 0.1);
    }
    .cardgroup{
        box-shadow: rgba(27, 14, 124, 0.08) 0px 0px 100px 100px;
    }
}

.buttonwhite {
	height: 16px;
	width: 16px;
	stroke: white;
	fill: none;
	display: block;
	pointer-events: none;
}
.buttonwhitebackground{
    padding:8px;
    background:#3075ff;
    border-radius:100px;
}

.buttonprimary {
	height: 16px;
	width: 16px;
	stroke: var(--text-primary);
	fill: none;
	display: block;
	pointer-events: none;
}

.buttonprimaryfill {
	height: 16px;
	width: 16px;
	stroke: none;
	fill: var(--text-primary);
	display: block;
	pointer-events: none;
}

.buttontertiaryfill{
    height: 16px;
	width: 16px;
	stroke: none;
	fill: var(--text-tertiary);
	display: block;
}
.buttontertiaryfill * {
    transition:none;
}
.buttontertiaryfill:hover{
    fill: var(--text-secondary);
}


.buttonwhitefill {
	height: 16px;
	width: 16px;
	stroke: none;
	fill: white;
	display: block;
	pointer-events: none;
}


.buttonbackground {
	font-size: 14px;
	padding: 12px;
	border-radius: 100px;
    background-color: var(--background-secondary);
}
.buttonbackground:hover {
    background-color:var(--background-tertiary);
}


.skipbutton{
    color:var(--text-tertiary)
}
.skipbutton:hover{
    color:var(--text-secondary)
}

.primarybutton{
    background-color: var(--background-primary);
}
.primarybutton:hover{
    background-color:var(--background-secondary);
}

.secondarybutton{
    background-color: var(--background-secondary);
}
.secondarybutton:hover{
    background-color:var(--background-tertiary);
}

input{
    border:none;
    outline:none;
    margin:0;
	padding:0;
	background:none;
}
textarea{
    border:none;
    outline:none;
    margin:0;
	padding:0;
	background:none;
    resize:none;
}


#hiddenwidthhelper{
    border: 1px solid transparent;
}

.titleinput{
    border-radius:8px;
    border: 1px solid transparent;
    padding:0px 12px;
    max-width:600px;
    color:var(--text-primary);
    opacity:1;
}
.titleinputedit{
    border: 1px solid var(--background-tertiary);
}
.titleinputedit:focus{
    border: 1px solid #3075ff;
}

.titleinput::placeholder{
    color:var(--text-tertiary);
}


.textareainput{
    box-shadow:none;
    border: 1px solid transparent;
    outline:none;
    display:block;
    overflow:auto;
}
.textareainput:focus{
    border: 1px solid #3075ff;
}
.placeholder{
    pointer-events:none;
    color:var(--text-tertiary)
}
[contenteditable="true"] {
    cursor:text;
}

.hiddenshiftdown{
    transform:translateY(40px);
    opacity:0;
    visibility: hidden;
    pointer-events:none;
}

.rotate90{
    transform:rotate(90deg)
}

.rotate180{
    transform:rotate(180deg)
}

.rotate270{
    transform:rotate(270deg)
}

.greenreview{
    color:#47af72
}

.rememberbutton{
    background-color: #2738a3
}
.rememberbutton:hover{
    background-color: #1c2877
}


.rememberbuttongesturehover{
    background-color: #1c2877 !important
}

.disabled{
    filter: opacity(0.2);
    pointer-events:none;
}


#screencardsettitle{
    transition:none
}

.cardsetblank{
    background-color: var(--background-primary);
    border: 3px dashed var(--background-tertiary)
}

.cardlistgroup{
    max-height:700px;
    max-width:140px;
    overflow-x:hidden;
    overflow-y:auto;
}
.smoothscroll{
    scroll-behavior: smooth;
}

.cardlistitem{
    border-radius: 12px;
    background-color:var(--background-secondary);
    padding:8px;
    font-size:13px;
    cursor:pointer;
    word-break: break-word;
    word-wrap:break-word;
    overflow:hidden;
    text-overflow: ellipsis;
    height:120px;
    flex-shrink:0;
    border:1px solid transparent;
    width:134px;
}
.selectedcardlistitem{
    border:1px solid #3075ff
}

#hintpopup{
    box-shadow: rgba(255, 229, 32, 0.2) 0px 3px 30px;
    max-width:300px;
    max-height:350px;
}

#hintpopuptitle{
    flex-shrink:0;
    word-break: break-word;
    word-wrap:break-word;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.hintpopupexpanded{
    max-width:400px !important;
    max-height:500px !important;
}

.hinttext{
    word-break: break-word;
    word-wrap:break-word;
    white-space:pre-wrap;
    overflow-y:auto;
    user-select:text;
    -webkit-user-select: text;
}

::-webkit-scrollbar {
    display: none;
}


.yesscrollbar::-webkit-scrollbar{
    display:unset;
}
::-webkit-scrollbar {
    width: 6px; 
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkgrey;
}


.hiddenwidth{
    max-width:0 !important;
    pointer-events:none;
    overflow-x:hidden;
}

.hiddenheight{
    max-height:0 !important;
    pointer-events:none;
    overflow-y:hidden;
}


.cardblank{
    background-color: var(--background-primary);
    border: 2px dashed var(--background-tertiary)
}

#aibuttonwrap{
    transition-duration:0.4s;
    transition-timing-function:ease;
}

#aibutton{
    transition-timing-function:ease;
    background-color:#5e41ed;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    padding:12px;
    border-radius:16px;
    gap:12px;
}

#aibutton.hiddenaibutton:hover{
    background-color:#4f36cb;
}

.hiddenaibutton{
    border-radius:20px !important;
    gap:0 !important;
    cursor:pointer;
}



#recognitionbutton.recognizing{
    background-color:#3075ff;
}
#recognitionbutton.recognizing svg{
    fill:white !important; 
}



#aibuttonwrap{
    bottom:0;
    margin-bottom:40px;
    z-index:10;
}

#aibuttoncontent{
    width:300px;
    height:200px;
    max-width:300px;
    max-height:200px;
    transition-duration:0.4s;
}

.hiddenaibutton #aibuttoncontent{
    max-width:0 !important;
    max-height:0 !important;
    pointer-events:none;
    overflow:hidden;
}


.box-shadow{
	box-shadow:0 0 40px 0 var(--black-transparent)
}

#uploadbutton{
    border-radius:16px;
    transition-timing-function:ease;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    cursor:pointer;
}
.hiddenuploadbutton #uploadbuttoncontent{
    max-width:0 !important;
    max-height:0 !important;
    pointer-events:none;
    overflow:hidden;
}
#uploadbutton:not(.hiddenuploadbutton){
    background-color:#3075ff;
}
.hiddenuploadbutton{
    border-radius:20px !important;
    gap:0 !important;
}
#uploadbuttoncontent{
    width:200px;
    height:120px;
    ath:200px;
    max-height:120px;
    transition-duration:0.4s;
}
#uploadbutton svg{
    transition-duration:initial;
}
#uploadbutton:not(.hiddenuploadbutton) svg{
    fill:white !important;
}

#uploadbuttontext{
    overflow-y:auto;
}

.fileimg{
    width:40px;
    height:40px;
    object-fit: cover;
    display: block;
    border-radius:8px;
    overflow:hidden;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
    cursor:pointer;
}
.fileimgbg{
    background-color:#dbdbdb;
    color:black;
}


#recognitionbutton{
    border-radius:16px;
    transition-timing-function:ease;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    cursor:default;
}
.hiddenrecognitionbutton #recognitionbuttoncontent{
    max-width:0 !important;
    max-height:0 !important;
    pointer-events:none;
    overflow:hidden;
}
#recognitionbutton:not(.hiddenrecognitionbutton){
    background-color:#3075ff;
}
.hiddenrecognitionbutton{
    border-radius:20px !important;
    gap:0 !important;
    cursor:pointer !important;
}
#recognitionbuttoncontent{
    width:200px;
    height:120px;
    max-width:200px;
    max-height:120px;
    transition-duration:0.4s;
}
#recognitionbutton svg{
    transition-duration:initial;
}
#recognitionbutton:not(.hiddenrecognitionbutton) svg{
    fill:white !important;
}

.temphiddenrecognitionbutton{
    border-radius:20px !important;
    gap:0 !important;
    cursor:pointer !important;
}
.temphiddenrecognitionbutton #recognitionbuttoncontent{
    max-width:0 !important;
    max-height:0 !important;
    pointer-events:none;
    overflow:hidden;
}



.fadingdiv {
    width: 200px;
    overflow-y:auto;
    word-break: break-word;
    word-wrap:break-word;

    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
  }
  

#cardanswercover{
    transition-duration:0s;
}
#cardanswercover.hidden{
    transition-duration:0.15s !important
}

.selectedbutton{
    background-color:#3075ff;
}


@media only screen and (max-width: 600px) {
    .cardset{
        width:150px;
        height:150px;
    }
}

.bigfronttext{
    font-size:30px !important;
}

.cardinsideitem{
    visibility: hidden;
    opacity:0;
    pointer-events:none;
}
.cardinside:hover .cardinsideitem{
    visibility:visible !important;
    opacity:1 !important;
    pointer-events:auto !important;
}




/* progress */

.circular-progress {
    --size: 22px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 2.5px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
}

.circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
}

.circular-progress circle.bg {
    stroke: var(--background-tertiary);
}

.circular-progress circle.fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    stroke: #47af72;
}

@property --progress {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}



.pointstext{
    color:#ffffff;
    background-color: rgba(44, 104, 255, 0.74);
    border-radius:6px;
    padding:2px 4px;
}

#pointstext{
    opacity:0;
}

.hiddenhovergroup:hover #pointstext{
    opacity:1;
}

.forceunhidden{
    opacity:1 !important;
}


#chartpopup{
    background-color:#ffffff33;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px)
}

@media (prefers-color-scheme: dark) {
    #chartpopup{
        background-color:#00000033;
    }
}

.statshover:hover{
    text-decoration:underline
}

#gesturebutton{
    margin:40px;
}

.gesturebuttonactive{
    background-color: #efefef !important;
}
.gesturebuttonactive svg{
    fill: #000000 !important;
}

.PlayBackRatePanelYPSC{
    display:none !important
}

.highlighttext{
    background-color: #f8ea1e39;
    border-radius: 4px;
}